@font-face {
    font-family: "Lato";
    src: url('../font/Lato/Lato-Heavy.ttf') format("truetype");
    src: url('../font/Lato/Lato-Medium.ttf') format("truetype");
    src: url('../font/Lato/Lato-MediumItalic.ttf') format("truetype");
    src: url('../font/Lato/Lato-Semibold.ttf') format("truetype");
}