
/* General CSS */

html,body {
    height: 100%;
    margin: 0%;
    font-family: 'Lato';
}

.body-align-center
{
    padding:0 8.5%;

}

.centeralign
{
    margin: auto;display: table;
}
/*=============================================
                Header
===========================================*/


.nav-desk
{
    margin:auto;display: table;    margin-bottom: 15px;
}


.divoff
{
    margin-bottom: -15px;
}


.largeheader-ul {
    list-style: none; 
    padding-left: 43px;
}

.largeheader-li{
    font-family: Lato;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.75;
    letter-spacing: 0.8px;
    text-align: left;
    color: #363a47;
    padding-left: 10px;
    text-transform: uppercase;
    display: inline-block;
}

.logo-pos
{
    float: left; margin-top: -15px
}


/*================================================
                    Buttons
=================================================*/

.button-prop
{
    font-family: Lato;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    background-color: #032149;
    color: white;
    border: none;
    padding: 13px 18px;
    border-radius: 3px;
    margin-left:11px;
}
.button-prop1
{
    font-family: Lato;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: white;
    background-color: transparent;
    padding: 13px 18px;
    border-radius: 3px;
    border: 1px solid white;
    overflow: hidden;
}

.button-prop2
{
    font-family: Lato;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    background-color: #032149;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px 18px;
}
.button-color
{
    color: #032149;
    background-color: white;
    border: 1px solid #032149;

}
.button-padding
{
    padding-left:13px;
    padding-right:13px;
    line-height: -4px;
    height: 43px;
    width: 43px;
}


/*===========================================
                    Text
=============================================*/


h1{
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
    font-family: Lato;
    font-weight: bold;
    font-size: 45px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
h3
{
    font-family: Lato;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: white;
    float: left;
}

h5{
   
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    text-transform: inherit;
    font-size: 20px;
}


p{
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.8px;
    text-align:left;
    color: white;
   
}


/*=====================================
            Sale-strip
=======================================*/

.sale-strip-back {
    padding:  0;
    width: 100%;
    background-color: #d6ab28;
}


/*======================================
        Home
======================================*/

.home-cover {
    background-image: url(../img/layer-7.png);
    opacity: 0.75;
    background-repeat: no-repeat;
    padding: 10% 0%;
    vertical-align:middle;
    background-size: cover;
}

/*=======================================
                Instant-box
========================================*/


.instant-display
{
    margin-top: -60px;
    position: relative;
    z-index: 999;

}

.instant-display2
{
    margin-top: 20px;
    position: relative;
    z-index: 999;
    margin-bottom: 40px;

}

.instant-box {
    width: 250px;
    text-align: center;
    vertical-align: top;
    padding: 20px;
    background-color: #032149;
    color: white;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;
    min-height: 230px;
    max-height: 230px;
    display: inline-block;
    margin-right: 47px;
}

.instant-icon
{
    padding-top: 20px;
}

.instant-text
{
    margin-top:-15px;
}

.instant-box-margin
{
    margin-right: 0;
}

/*======================================
            Form
=======================================*/


.formbackground { 	
    position: relative;
    background-color: #4a6084;
    width:100%;
    height:auto;  
    margin-top: 15px;
    padding-bottom: 40px;
}
  

.formbackground:after {
    content: '';
    display: block;
    position: absolute;
    left: 17%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #4a6084;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


.p-form-text
{
    float: left;
    padding-right: 15px;
    font-size: 16px;
    margin-top: 14px;
}

.p-form-label
{
    float: left;
    padding-right: 15px;
    font-size: 19px;
    margin-top: 11px;
}

input[type='radio']{
    float: left;
    margin-top: 23px;
}

input[type='text']{
    width: 286px;
    height: 27px;
    border-radius: 5px;
    margin-top: -7px;
}


.input-text
{
    
    min-height: 25px;
    max-height: 25px;
    display: inline-block;
    margin-right: 47px;
}

.formbutton
{
    width:12.5%;
    border-radius: 4%;
    background-color: #032149;
    color: #fff;
    padding: 1%;
    text-align: center;  
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    float:right;

}


.add-img
{
    float:left;
    padding-right: 15px;
}
.radio-back{
    display: inline-block;
    margin-top: 10px;
}

.form-but
{
    float: right;
}


table{
    border-collapse: collapse;
    width:100%;
}

.tabletext
{
    font-family: Robato;
    font-size: 130%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color:white;
    text-align: center;
    padding: 2%;
}

td{

    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.8px;
    color: white;
    text-align: center;
    padding: 6px 10px;
}


.table-prop
{
    display: table;
    width: 100%;
}
.table-view
{
    float: left;
    width: 60%;
   
}

.social-view
{
    display: inline-block;
    padding-left: 20%;
}

.social-img
{
    width:70%;
    left:100%;
    top:100%;
    padding:5%;
}

.social-button
{
    width:30px;
    height:30px;
    border-radius: 50%; 
    background-color: white;
    margin-right: 5px;
}


.social-margin
{
    margin-top: -10px;
}

.input-text-margin
{
    margin-right: 0px;
}



/*==========================================
            Banner
=============================================*/

.banner-cover {
    background-image: url(../img/banner-2.png);
    background-repeat: no-repeat;
}

.banner-layer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px 0px;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
    padding-bottom: 73px;
}

.h3-banner
{
    font-family: Lato;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: white;
    float: left;
}

/*================================================
                    Property card
==================================================*/

.new-properties {
   
    margin: auto;
    padding-bottom: 50px;
    background-color: #dedfe7;
   
  }
  
.property-box {
    width: 290px;
    height: 363px;
    display: inline-block;
   
    background-color: white;

}
.property-box-margin{
    width: 290px;
    height: 374x;
    display: inline-block;
    background-color: white;

}

.property-thumbnail {
    width: 100%;

}
.property-text1
{
    float: left;width: 117px;padding: 1%;
}
.property-text2
{
    float: left;width: 83px;padding: 1%;
}
.property-detail {
    width: 100%;
   
}

.property-text-left
{
    padding: 2%;text-align: left;
    margin-left: 16px;

}

h6{
    color: black;line-height: 1;font-size: 14px;letter-spacing: 0.5; margin-top: -10px;font-weight: normal;
    margin-top: -18px;

}

h4{
    float: none;color: black;font-size: 20px;
}

.property-label
{
    color: black;line-height: 1;font-size: 14px;letter-spacing: 0.5;
}

.property-text-right
{
    padding: 2%;text-align: right;
    margin-right: 16px;

}

.property-img
{
    width:100%;height: 190px;
}


.property-footer {
  
    text-align: left;
    padding: 2%;
    margin-top: -24px;
    margin-left: 14px;
    
}


/*===============================================
            Blank div
========================================*/
.banner-text
{
    padding-left: 10%;
}

.banner-button
{
    text-align: right;
}

.banner-level
{
    padding: 2% 0%;
}

/*-----------------------------------------------
                    Contact us
--------------------------------------------------*/

#contact-input
{
    background-color: transparent;border:1px solid #4a525d ;float: left;width: 50%;;border-radius: 2px;margin-top: 0px;
}

.contact-button
{
    margin-left:10px;background-color: transparent;border:1px solid #4a525d;color:white;height: 30px;font-weight:lighter;
}


.contact-text
{
    width: 256px;

    display: inline-block;
    margin-right: 92px;
    vertical-align: top;
}

.h5-contactus
{
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #9aa2aa;
    text-align: left;
}
.h3-contactus
{
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: #4a525d;
    float: none;
}


.contact-back
{
    background-color: #161616;
    padding-bottom: 12%;

}
.contact-img
{
    padding: 4% 0% 3% 0%;; text-align: center;
}


/*==================================================
                    Footer
====================================================*/

.footer-back
{
    background-color: black;text-align: center;padding: 15px 0px;

}
.button-prop-footer
{
    font-family: Lato;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;

    border: none;
    padding: 13px 18px;
    border-radius: 3px;
    
    background-color: black ;color: #777777;
}


/*=========================================================
                        Media queries
===========================================================*/

@media (min-width: 350px) and (max-width: 749px) {
    
    h1
    {
        font-size: 35px;
    }
    .form-but
    {
        float: none;
    }
    table {
        width: 100%;
    }

    .table-prop
    {
        display: table;
        margin: 0px;
    }

    [class*="col-"] {
        width: 100%;
    }

    .instant-display
    {
        margin-top: -28px;
    }
    .instant-box
    {
        margin-bottom: 15px;
    }
    .formbackground:after
    {
        left: 45%;
    }

    .instant-box-hide1
    {
        display: none;
    }

    .social-view
    {
        padding-left: 0px;
    }

    .h3-banner{
        text-align: center;
    }
    .body-align-center
    {
        padding-left: 9.5%;
        text-align: center;
    }
    .banner-layer{
        margin-bottom: -23px;
    }
    .property-box{
        margin-bottom: 15px;
        margin-right: auto;
    }
    .banner-text
    {
        padding-right: 3%;
    }
    .banner-button{
        margin: auto;
        display: table;
    }
    .contact-text
    {
        margin-right: 0px;
    }
    .input-text
    {
        margin-right: 0px;
    }
    .instant-box
    {
        margin-right: 0px;
    }
    .add-img
    {
        float: none;
    }
    .p-form-label
    {
        text-align: center;
        font-size: 18px;
        margin-top: 13px;
    }

    .table-prop
    {
        display: table;
        margin: auto;
    }
  
    .centerl
    {
        text-align: center;
    }
}

@media (min-width: 750px) and (max-width: 969px) {

    .table-view
    {
        width: 66%;
         margin-left: 26px;
    }
    .social-view
    {
     padding-left: 0px;   
    }

    .banner-button{
        margin: auto;
        display: table;
    }
    .formbackground:after
    {
        left: 30%;
    }
    .form-but
    {
        float: none;
    }
    .instant-box-hide2
    {
        display: none;
    }
    .centerl
    {
        text-align: center;
    }
    .body-align-center
    {
        padding-left: 9.5%;
        text-align: center;
    }
    .add-img
    {
        float: none;
    }
    .input-text
    {
        margin-right: 0px;
    }
    .instant-box
    {
        margin-right: 0px;
    }
    .property-box{
        margin-bottom: 15px;
        margin-right: auto;
    }
    
    .instant-box
    {
        margin-bottom: 15px;
    }

    .contact-text
    {
        margin-right: 0px;
    }

    .p-form-label
    {
        text-align: center;
    }

    .table-prop
    {
        display: table;
        margin: auto;
    }  
}


@media (min-width: 970px) and (max-width: 1199px) {

    .banner-button{
        margin: auto;
        display: table;
    }
    .form-but
    {
        float: none;
    }
    .formbackground:after
    {
        left: 35%;
    }
    .centerl
    {
        text-align: center;
    }
    .body-align-center
    {
        padding-left: 9.5%;
        text-align: center;
    }
    .add-img
    {
        float: none;
    }
    .input-text
    {
        margin-right: 0px;
    }
    .instant-box
    {
        margin-right: 0px;
    }
    .property-box{
        margin-bottom: 15px;
        margin-right: auto;
    }
    
    .instant-box
    {
        margin-bottom: 15px;
    }

    .contact-text
    {
        margin-right: 0px;
    }

    .p-form-label
    {
        text-align: center;
    }

    .table-prop
    {
        display: table;
        margin: auto;
    }


}


@media (min-width: 1200px) {

    .property-box
    {
        margin-right: 47px;
    }

    .instant-box-hide
    {
        display: none;
    }

}

@media (max-width: 1320px) {


    .button-hidden{
        display: none;
    }
    
    .menu-line{
        float: right;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    .menu-line span{
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #000;
    }
    
    .menu-div 
    { 
      
        display: none;
    }
    
    input:checked + label + .menu-div 
    { 
        display: block; 
    }
    
    .nav-ul {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0;
        float: right;
        background-color: black;
        top: 42px;
        text-align: left;
        padding-left: 4%;
        z-index: 99;
        padding-bottom: 15px;
        left: 130px;
    }
    
    .nav-ul>li {
        display: block;
        width: 100%;
        color: white;
        float: right;
    }
    
    .button-prop
    {
        padding: 11px 11px;
        margin-left:0px;
    }

    .centeralign
    {
        margin: auto;display: table;
    }
    .logo
    {
        position:absolute;
        left:1%;
        top: 1%;
        margin-top: -5px;
      
    }
    .menu-div{
        display: none;
    }
    
    .divoff
    {
        display: none;
    
    }
    
    .img-logo-mobile
    {
        width: 54px;
        height: 36px;
        
      
    }
    
    .sale-strip-back {
        margin-top: 42px;
    }
    
}



